#fitness-center-header{
    height: 50px;
    width: 100%;
    background-color: #082c38;
}
#fitness-center-header ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
#fitness-center-header ul li{
    list-style-type: none;
    display: block;
    height: inherit;
    width: 50px;
}
#fitness-center-header ul li a img{
    height: 40px;

}