
#main-content{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border: 0;
    background: repeating-linear-gradient(#0c2f3b,#c5cbcf,#9aabb7,#051c24);
    height: 1500px;
}
#key-items{
    float: left;
    background-color: #082c38;
    border-radius: 30px 0 30px 0;
    width: 150px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    position: fixed;
    filter: drop-shadow(2px 2px 2px #2b352d);
   
}
#key-items a{
    text-decoration: none;
    color:#fcd8b4;
    
}

.item-type{
    height: 50px;
}
.item-type img{
    height: 30px;
    width: 30px;
}
.item-type p{
    display: inline;
    font-size: 16px;
}
#key-content{
    float: right;
    width: 1020px;
    display: flex;
    overflow-x: scroll;
    background: linear-gradient(#f3eeea, #ebe3d5, #b0a695, #776b5d);
}

